.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #cc2525;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 71px;
  top: 64px;
  width: 497px;
  height: 112px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -137px);
  top: 64px;
  width: 228px;
  height: 83px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  right: 25px;
  top: 64px;
  width: 318px;
  height: 79px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 477px;
  top: 64px;
  width: 332px;
  height: 83px;
}
.bmgt-407-information-systems-projects {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 22px;
  top: 236px;
  width: 1393px;
  height: 86px;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 773px;
  position: absolute;
  left: 146px;
  top: 357px;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-students-apply-their-knowledge-to-develop-real-world-is-solutions {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 87px;
}
.professor-paul-t-shapiro-teachig-assistants-bharath-sreekumar-caifu-lin-sumanth-devara-semester-details-spring-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 652px;
  height: 134px;
}
